@media (max-width: 360px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 320px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}

/* Warna dot aktif */
@media (max-width: 360px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 320px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
