/* TABLET RESPONSIVE */
@media (max-width: 1114px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 834px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 820px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 800px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 428px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 415px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 412px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 395px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 391px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 376px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 360px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}
@media (max-width: 320px) {
  .slick-dots li button:before {
    font-size: 10px !important;
    color: white !important; /* ganti warna dot */
    opacity: 0.75 !important;
  }
}


/* TABLET RESPONSIVE */
@media (max-width: 1114px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 834px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 820px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 800px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 768px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}

/* MOBILE RESPONSIVE */
/* Warna dot aktif */
@media (max-width: 428px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 415px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 412px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 395px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 391px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 376px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 360px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
@media (max-width: 320px) {
  .slick-dots li.slick-active button:before {
    color: red !important; /* warna dot aktif */
    opacity: 1 !important;
  }
}
