.slick-prev,
.slick-next {
  display: none !important;
}

.slick-prev.custom-prev,
.slick-next.custom-next {
  background: transparent;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 10px;
  color: white;
  font-size: 30px;
  border-radius: 70%;
  box-shadow: 1px 2px 10px -1px rgba(154, 101, 101, 0.3);
  display: block !important;
}

.slick-next:before{
  content: '';
}
.slick-prev:before{
  content: '';
}

 @media (max-width:320px) {
  /* .slick-slide,.slick-active,.slick-current{
    width: 288px !important;
  }   */
} 