/* @font-face {
  font-family: "PimpawCat";
  src: local("PimpawCat"), url(./fonts/Pimpaw\ Cat\ TTF\ Personal.ttf) format("opentype");
}
@font-face {
  font-family: "RamuanKurma";
  src: local("RamuanKurma"), url(./fonts/Ramuan\ Kurma.otf) format("opentype");
}
@font-face {
  font-family: "Hacker";
  src: local("Hacker"), url(./fonts/Hacker.ttf) format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Secular+One&display=swap'); */

/* === IMPORT GOOGLE FONTS (HARUS DI ATAS) === */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* === FONT LOCAL === */
@font-face {
  font-family: 'PimpawCat';
  src: local('PimpawCat'), url('./fonts/Pimpaw Cat TTF Personal.ttf') format('truetype');
}

@font-face {
  font-family: 'RamuanKurma';
  src: local('RamuanKurma'), url('./fonts/Ramuan Kurma.otf') format('opentype');
}

@font-face {
  font-family: 'Hacker';
  src: local('Hacker'), url('./fonts/Hacker.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --lighter: linear-gradient(159deg, rgb(45,45,58), rgb(43,43,53) 100%);
  ---background: #191923;
  /* background-color: white; */
}

body{
  width: 100%;
  background-color: #191923 !important;
}

&::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}
&::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Warna thumb scrollbar */
  border-radius: 4px; /* Radius sudut */
}
&::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Warna thumb saat dihover */
}
&::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Warna track scrollbar */
}